hr {
    border: 1px solid black;
}

#mydiv {
    border-bottom: 1px solid black;
}

.s_msg {
    margin: 2em 0em;
}

.e_msg {
    margin: 2em 0em;
}

.col-sm-8 {
    margin-top: 1em;
}

textarea {
    width: 260px;
}